In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

# To see all the columns 
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 100)

In [2]:
df= pd.read_csv("C:\\CompletePython\\DataScience\VisionZero\\2016\\crashes_datetime7.csv")

In [3]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'crash_date_new', 'person_type',
       'person_injury', 'person_age', 'ejection', 'position_in_vehicle',
       'safety_equipment', 'ped_role', 'person_sex', 'vehicle_type',
       'vehicle_make', 'vehicle_year', 'vehicle_occupants', 'driver_sex',
       'driver_license_status', 'pre_crash', 'point_of_impact',
       'vehicle_damage', 'contributing_factor_1', 'contributing_factor_2',
       'borough', 'zip_code', 'latitude', 'longitude', 'on_street_name',
       'collision_id', 'number_of_contributing_vehicles', 'crash_date_year',
       'crash_date_month', 'crash_date_day', 'Time', 'completedate',
       'city_info', 'population', 'median_household_income'],
      dtype='object')

In [4]:
df=df.drop(['collision_id','Unnamed: 0','completedate','Unnamed: 0.1','crash_date_new','collision_id'], axis=1)

In [5]:
df.head(2)

,person_type,person_injury,person_age,ejection,position_in_vehicle,safety_equipment,ped_role,person_sex,vehicle_type,vehicle_make,vehicle_year,vehicle_occupants,driver_sex,driver_license_status,pre_crash,point_of_impact,vehicle_damage,contributing_factor_1,contributing_factor_2,borough,zip_code,latitude,longitude,on_street_name,number_of_contributing_vehicles,crash_date_year,crash_date_month,crash_date_day,Time,city_info,population,median_household_income
0,OCCUPANT,NOT INJURED,52.0,NOT EJECTED,DRIVER,LAP BELT & HARNESS,DRIVER,M,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,M,UNSPECIFIED,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,QUEENS,11378,40.725560,-73.89849,LONG ISLAND EXPRESSWAY,2,2019,10,26,16:30:00,Maspeth,34981.0,57474.0
1,OCCUPANT,NOT INJURED,41.0,NOT EJECTED,DRIVER,LAP BELT,DRIVER,M,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,M,UNSPECIFIED,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,MANHATTAN,10025,40.793377,-73.97086,AMSTERDAM AVENUE,2,2019,10,26,20:00:00,New York,94600.0,68516.0