In [1]:
import pandas as pd
import numpy as np
import math
import datetime

# To see all the columns 
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 600)

In [2]:
#df= pd.read_csv("C:\\CompletePython\\DataScience\VisionZero\\2016\\crashes_datetime2.csv")
df = pd.read_csv("C:\\CompletePython\\DataScience\VisionZero\\2016\\crashes_datetime2.csv",
                 parse_dates= {"crash_date_new" : ["crash_date_year","crash_date_month","crash_date_day"]},
                keep_date_col=True)

In [3]:
df['crash_time'] = pd.to_datetime(df.crash_time)

In [4]:
df['Time'] = [d.time() for d in df['crash_time']]

In [6]:
df.head(2)

,crash_date_new,Unnamed: 0,Unnamed: 0.1,crash_date,crash_time,person_type,person_injury,person_age,ejection,position_in_vehicle,safety_equipment,ped_role,person_sex,vehicle_type,vehicle_make,vehicle_year,vehicle_occupants,driver_sex,driver_license_status,pre_crash,point_of_impact,vehicle_damage,contributing_factor_1,contributing_factor_2,borough,zip_code,latitude,longitude,on_street_name,collision_id,number_of_contributing_vehicles,crash_date_year,crash_date_month,crash_date_day,Time
0,2019-10-26,2,2,2019-10-26 00:00:00,2021-11-17 16:30:00,OCCUPANT,NOT INJURED,52.0,NOT EJECTED,DRIVER,LAP BELT & HARNESS,DRIVER,M,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,M,UNSPECIFIED,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,QUEENS,11378.0,40.725560,-73.89849,LONG ISLAND EXPRESSWAY,4230635,2,2019,10,26,16:30:00
1,2019-10-23,3,3,2019-10-23 00:00:00,2021-11-17 15:00:00,OCCUPANT,NOT INJURED,38.0,NOT EJECTED,UNKNOWN,UNKNOWN,DRIVER,M,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,M,UNSPECIFIED,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,QUEENS,11369.0,40.762394,-73.87322,NaN,4230699,3,2019,10,23,15:00:00

In [7]:
df.loc[:,'completedate'] = pd.to_datetime(df.	crash_date_new.astype(str)+' '+df.Time.astype(str))

In [8]:
df.head(2)

,crash_date_new,Unnamed: 0,Unnamed: 0.1,crash_date,crash_time,person_type,person_injury,person_age,ejection,position_in_vehicle,safety_equipment,ped_role,person_sex,vehicle_type,vehicle_make,vehicle_year,vehicle_occupants,driver_sex,driver_license_status,pre_crash,point_of_impact,vehicle_damage,contributing_factor_1,contributing_factor_2,borough,zip_code,latitude,longitude,on_street_name,collision_id,number_of_contributing_vehicles,crash_date_year,crash_date_month,crash_date_day,Time,completedate
0,2019-10-26,2,2,2019-10-26 00:00:00,2021-11-17 16:30:00,OCCUPANT,NOT INJURED,52.0,NOT EJECTED,DRIVER,LAP BELT & HARNESS,DRIVER,M,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,M,UNSPECIFIED,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,QUEENS,11378.0,40.725560,-73.89849,LONG ISLAND EXPRESSWAY,4230635,2,2019,10,26,16:30:00,2019-10-26 16:30:00
1,2019-10-23,3,3,2019-10-23 00:00:00,2021-11-17 15:00:00,OCCUPANT,NOT INJURED,38.0,NOT EJECTED,UNKNOWN,UNKNOWN,DRIVER,M,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,M,UNSPECIFIED,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,QUEENS,11369.0,40.762394,-73.87322,NaN,4230699,3,2019,10,23,15:00:00,2019-10-23 15:00:00

In [10]:
df=df.drop(['Unnamed: 0','Unnamed: 0.1','crash_date', 'crash_time'], axis=1)

In [12]:
df = df[df['on_street_name'].notna()]

In [14]:
df.head(3)

,crash_date_new,person_type,person_injury,person_age,ejection,position_in_vehicle,safety_equipment,ped_role,person_sex,vehicle_type,vehicle_make,vehicle_year,vehicle_occupants,driver_sex,driver_license_status,pre_crash,point_of_impact,vehicle_damage,contributing_factor_1,contributing_factor_2,borough,zip_code,latitude,longitude,on_street_name,collision_id,number_of_contributing_vehicles,crash_date_year,crash_date_month,crash_date_day,Time,completedate
0,2019-10-26,OCCUPANT,NOT INJURED,52.0,NOT EJECTED,DRIVER,LAP BELT & HARNESS,DRIVER,M,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,M,UNSPECIFIED,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,QUEENS,11378.0,40.725560,-73.89849,LONG ISLAND EXPRESSWAY,4230635,2,2019,10,26,16:30:00,2019-10-26 16:30:00
8,2019-10-26,OCCUPANT,NOT INJURED,41.0,NOT EJECTED,DRIVER,LAP BELT,DRIVER,M,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,M,UNSPECIFIED,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,MANHATTAN,10025.0,40.793377,-73.97086,AMSTERDAM AVENUE,4230398,2,2019,10,26,20:00:00,2019-10-26 20:00:00
9,2019-10-26,OCCUPANT,NOT INJURED,35.0,NOT EJECTED,DRIVER,LAP BELT,DRIVER,M,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,M,UNSPECIFIED,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,MANHATTAN,10025.0,40.793377,-73.97086,AMSTERDAM AVENUE,4230398,2,2019,10,26,20:00:00,2019-10-26 20:00:00

In [15]:
df.isnull().sum().sort_values(ascending=False)

crash_date_new                     0
person_type                        0
Time                               0
crash_date_day                     0
crash_date_month                   0
crash_date_year                    0
number_of_contributing_vehicles    0
collision_id                       0
on_street_name                     0
longitude                          0
latitude                           0
zip_code                           0
borough                            0
contributing_factor_2              0
contributing_factor_1              0
vehicle_damage                     0
point_of_impact                    0
pre_crash                          0
driver_license_status              0
driver_sex                         0
vehicle_occupants                  0
vehicle_year                       0
vehicle_make                       0
vehicle_type                       0
person_sex                         0
ped_role                           0
safety_equipment                   0
position_in_vehicle                0
ejection                           0
person_age                         0
person_injury                      0
completedate                       0
dtype: int64

In [16]:
df.to_csv("C:\\CompletePython\\DataScience\VisionZero\\2016\\crashes_datetime5.csv",header=True)