In [1]:
import pandas as pd
import numpy as np

In [2]:
crashes = pd.read_csv("C:\\CompletePython\\DataScience\VisionZero\\2016\\crashes-full.sample.csv")
people = pd.read_csv("C:\\CompletePython\\DataScience\VisionZero\\2016\\people-full.sample.csv")
vehicles= pd.read_csv("C:\\CompletePython\\DataScience\VisionZero\\2016\\vehicles-full.sample.csv")

### Transform the contributing factors columns to "number_of_contributing_factors"

In [3]:
conditions = [
    (crashes['contributing_factor_vehicle_1'].isna()) & 
    (crashes['contributing_factor_vehicle_2'].isna()) &
    (crashes['contributing_factor_vehicle_3'].isna()) & 
    (crashes['contributing_factor_vehicle_4'].isna()) &
    (crashes['contributing_factor_vehicle_5'].isna()),
    
    (crashes['contributing_factor_vehicle_1'].notna()) & 
    (crashes['contributing_factor_vehicle_2'].isna()) &
    (crashes['contributing_factor_vehicle_3'].isna()) & 
    (crashes['contributing_factor_vehicle_4'].isna()) &
    (crashes['contributing_factor_vehicle_5'].isna()),
    
    (crashes['contributing_factor_vehicle_1'].notna()) & 
    (crashes['contributing_factor_vehicle_2'].notna()) &
    (crashes['contributing_factor_vehicle_3'].isna()) & 
    (crashes['contributing_factor_vehicle_4'].isna()) &
    (crashes['contributing_factor_vehicle_5'].isna()),
    
    (crashes['contributing_factor_vehicle_1'].notna()) & 
    (crashes['contributing_factor_vehicle_2'].notna()) &
    (crashes['contributing_factor_vehicle_3'].notna()) & 
    (crashes['contributing_factor_vehicle_4'].isna()) &
    (crashes['contributing_factor_vehicle_5'].isna()),
    
    (crashes['contributing_factor_vehicle_1'].notna()) & 
    (crashes['contributing_factor_vehicle_2'].notna()) &
    (crashes['contributing_factor_vehicle_3'].notna()) & 
    (crashes['contributing_factor_vehicle_4'].notna()) &
    (crashes['contributing_factor_vehicle_5'].isna()),
    
    (crashes['contributing_factor_vehicle_1'].notna()) & 
    (crashes['contributing_factor_vehicle_2'].notna()) &
    (crashes['contributing_factor_vehicle_3'].notna()) & 
    (crashes['contributing_factor_vehicle_4'].notna()) &
    (crashes['contributing_factor_vehicle_5'].notna())]
    
    

choices = [0,1,2,3,4,5]

# Add new column based on conditions and choices:
crashes['number_of_contributing_vehicles'] = np.select(conditions, choices)
crashes.head(3)

,crash_date,crash_time,borough,zip_code,latitude,longitude,location,on_street_name,cross_street_name,off_street_name,...,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code_1,vehicle_type_code_2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5,number_of_contributing_vehicles
0,2019-05-21,22:50,BROOKLYN,11201.0,40.697540,-73.98312,"(40.69754, -73.98312)",GOLD STREET,CONCORD STREET,NaN,...,NaN,NaN,NaN,4136992,�MBU,Taxi,NaN,NaN,NaN,2
1,2021-04-14,14:40,NaN,NaN,40.698807,-73.91837,"(40.698807, -73.91837)",MYRTLE AVENUE,NaN,NaN,...,NaN,NaN,NaN,4407461,Box Truck,Sedan,NaN,NaN,NaN,2
2,2021-04-15,17:20,BROOKLYN,11236.0,40.650402,-73.89422,"(40.650402, -73.89422)",GLENWOOD ROAD,EAST 108 STREET,NaN,...,NaN,NaN,NaN,4407638,Sedan,Van,NaN,NaN,NaN,2

###  Removing the columns which might not be helpful for target variable.

In [4]:
crashes_transform = crashes[['borough', 'zip_code', 'latitude', 'longitude', 'on_street_name',
       'collision_id','number_of_contributing_vehicles',]]

In [5]:
crashes_transform.head(5)

,borough,zip_code,latitude,longitude,on_street_name,collision_id,number_of_contributing_vehicles,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed
0,BROOKLYN,11201.0,40.697540,-73.983120,GOLD STREET,4136992,2,0.0,0.0,0,0,0,0,0,0
1,NaN,NaN,40.698807,-73.918370,MYRTLE AVENUE,4407461,2,0.0,0.0,0,0,0,0,0,0
2,BROOKLYN,11236.0,40.650402,-73.894220,GLENWOOD ROAD,4407638,2,1.0,0.0,0,0,0,0,1,0
3,BROOKLYN,11221.0,40.686928,-73.920815,NaN,4408224,2,0.0,0.0,0,0,0,0,0,0
4,BROOKLYN,11220.0,40.633976,-74.022110,NaN,4407821,2,1.0,0.0,0,0,0,0,1,0

### Feature selection

In [6]:
# feature selection 
people_transform = people[[ 'collision_id', 'crash_date', 'crash_time', 'person_id',
       'person_type', 'person_injury', 'vehicle_id', 'person_age', 'ejection',
       'emotional_status', 'bodily_injury', 'position_in_vehicle',
       'safety_equipment', 'complaint',
       'ped_role','person_sex']]

### Removing the columns which might not be helpful for target variable

In [7]:
vehicles_transform = vehicles[[ 'unique_id', 'collision_id',  'vehicle_type', 'vehicle_make', 
       'vehicle_year', 'vehicle_occupants', 'driver_sex', 'driver_license_status', 'pre_crash',
        'point_of_impact', 'vehicle_damage',  'public_property_damage', 'contributing_factor_1',
       'contributing_factor_2']]

# Merge Vehicle data with Peoples data
* People data is important. We need to merge vehicle with Peoples using vehicleID keeping

## Merge person and vehicle

In [8]:
#Merge person and vehicle 
people_vehicles = pd.merge(people_transform, vehicles_transform, how="left", left_on=['vehicle_id'], right_on=['unique_id'] )

### vehicle with people with vehicel_ID

In [9]:
vehicle_with_people=people_vehicles[people_vehicles["vehicle_id"].notna()]
vehicle_with_people.head(5)

,collision_id_x,crash_date,crash_time,person_id,person_type,person_injury,vehicle_id,person_age,ejection,emotional_status,...,vehicle_year,vehicle_occupants,driver_sex,driver_license_status,pre_crash,point_of_impact,vehicle_damage,public_property_damage,contributing_factor_1,contributing_factor_2
0,4230635,2019-10-26,16:30,72df0ffc-1065-40d9-b535-34a54171cb13,Occupant,Unspecified,19144141.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4230635,2019-10-26,16:30,95c1fcb0-c97a-4f33-a037-6d456b3a738d,Occupant,Unspecified,19144140.0,52.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4230699,2019-10-23,15:00,e424f8bc-6766-4689-ab5b-8970062489f4,Occupant,Unspecified,19143794.0,38.0,Not Ejected,Does Not Apply,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4229612,2019-10-26,12:06,a5a94fe8-9b1c-4d44-9278-30e9468750b0,Occupant,Unspecified,19140847.0,33.0,Not Ejected,Does Not Apply,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4230939,2019-10-26,22:45,828e0e58-2e15-4ddf-8a6c-33e5d61f649f,Occupant,Unspecified,19143469.0,36.0,Not Ejected,Does Not Apply,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### vehicle with people without vehicel_ID

In [10]:
people_without_vehicleID=people_vehicles[people_vehicles["vehicle_id"].isna()]

## Merge people_vehicles and crashes

### Merge crashes with people witthout vehicleID

In [11]:
crashes_without_vehicleID = pd.merge(people_without_vehicleID, crashes_transform, 
                                      how="right", left_on=['collision_id_x'], right_on=['collision_id'])
crashes_without_vehicleID.shape

(107393, 45)

In [12]:
### Merge crashes with people with vehicleID

In [13]:
crashes_with_vehicleID = pd.merge(vehicle_with_people, crashes_transform, 
                                  how="outer", left_on=['collision_id_x'], right_on=['collision_id'])

In [14]:
df = crashes_with_vehicleID

In [15]:
df = df.append(crashes_without_vehicleID)

# Dataset finally merged and feature selecting only the required ones.

In [16]:
crash_people_vehicle = df[['crash_date', 'crash_time','person_type', 'person_injury', 
                           'person_age', 'ejection', 'emotional_status', 
                           'bodily_injury', 'position_in_vehicle', 'safety_equipment', 
                           'complaint', 'ped_role', 'person_sex', 'vehicle_type',
                           'vehicle_make', 'vehicle_year', 'vehicle_occupants', 'driver_sex',
                           'driver_license_status', 'pre_crash', 'point_of_impact', 
                           'vehicle_damage',  'contributing_factor_1', 
                           'contributing_factor_2', 'borough', 'zip_code','latitude', 'longitude',
                           'on_street_name', 'collision_id', 'number_of_contributing_vehicle']]

In [17]:
crash_people_vehicle.to_csv("C:\\CompletePython\\DataScience\VisionZero\\2016\\full.csv",header=True)

In [18]:
#crash_people_vehicle_transform.to_excel("C:\\CompletePython\\DataScience\VisionZero\\2016\\crash_people_vehicle_transform.xlsx" ,header=True)