In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import pylab

In [ ]:
class color:
    PURPLE = '\033[95m'
    CYAN = '\033[96m'
    DARKCYAN = '\033[36m'
    BLUE = '\033[94m'
    GREEN = '\033[92m'
    YELLOW = '\033[93m'
    RED = '\033[91m'
    BOLD = '\033[1m'
    UNDERLINE = '\033[4m'
    END = '\033[0m'

In [ ]:
# To see all the columns 
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 300)

In [ ]:
crashes = pd.read_csv("C:\\CompletePython\\DataScience\VisionZero\\2016\\crashes.sample.csv")
people = pd.read_csv("C:\\CompletePython\\DataScience\VisionZero\\2016\\people.sample.csv")
vehicles= pd.read_csv("C:\\CompletePython\\DataScience\VisionZero\\2016\\vehicles.sample.csv")

In [ ]:
crashes.head(2)

In [ ]:
people.head(2)

In [ ]:
vehicles.head(2)

#
1. Find the shape of the data
2. Find the number of Unique values in each column in the data
3. Find the total null value in the data
4. Find the null value percentage in each column of the data
5. Find the dtype of the data
6. Find the min, max and mean of the data.
7. Descriptive statistics of each column

In [ ]:
# Function to find the shape of the dataset
def df_shape(df):
    print("Shape of the dataset")
    print (df.shape)
    print("\n")
    print(color.CYAN + color.UNDERLINE + color.BOLD + 
          "Number of unique values in each column:" + color.END)
    print (df.nunique().sort_values(ascending=False))
    print ("\n")
    print (color.CYAN + color.UNDERLINE + color.BOLD + 
           "Datatypes of each column" + color.END)
    print (df.dtypes)
    print(color.CYAN + color.UNDERLINE + color.BOLD +
          "\nNumber of missing values in each column"  + color.END )
    print(df.isnull().sum().sort_values(ascending=False))
    print(color.CYAN + color.UNDERLINE + color.BOLD + 
          "\nPercentage of missing values in each column" + color.END)
    percentage_missing = df.isnull().sum() * 100 / len(df)
    print(percentage_missing.sort_values(ascending=False))

In [ ]:
#type(crashes["borough"])
#crashes["borough"].head(3)

# For value counts
#df["column_name"].value_counts()

In [ ]:
#crashes_shape = df_shape(crashes)
crashes_data = df_shape(crashes)
print (crashes_data)

In [ ]:
crashes_location = crashes["location"].value_counts().sort_values(ascending=False)

In [ ]:
crashes_location.head(20)

# Notes for CRASHES


### Observation:
6. number_of_persons_injured          int64
7. number_of_persons_injured =    number_of_pedestrians_injured + number_of_cyclist_injured + number_of_motorist_injured  
8. Similarly for the killed
9. Based on (7th and 8th observation), need to make a call on how to handle feature engineering. [NOTNOW]
### To do 

1. number_of_persons_killed is in float64. Convert to int
2. zip_code  is in float64. Convert it into Object
3. Location is a combination of longitude and latitude. Check and probably can delete the Location column.
4. crash_date is in object. Convert to datetime
5. crash_time is in object. convert to datetime. 
10. Find out the total number of pedestrians injured/killed
11. Total number of cyclist. injured/killed
12. Total number of motorist. injured/killed
13. The contribution factors can be grouped as follows referring to the column:
    * Natural disaster or weather issue
    * Infrastructure issue
    * User error (Human Mistake)
    * Automobile issue
    * 
 14. Group by contribution factors to the number of injuries and deaths. Create graphs
 15. Question to explore: Is the Contributing factor 1; is the primary factor, and 2 as the secondary. and 3 as tertiary. 
 16. Question to explore 
 17. Correlation matrix
 18. Should we set any column as the index column?
 19. Contributing factor 1 is for vehicle 1, factor 2 is for vehicle 2.. and so on. So it talks about the number of vehicles involved and their contributing factors. So The one which are Null, should not be removed. Instead, the below can be done:
    * for null values, mention not applicable
    * create a new column indicating the number of vehicles involved in the accident. 
 20. Check whether the sedans are mostly higher in number because they are the ones used as cabs. (Taxi driver) 
 21. Check the number of missing values of Borough and zip code in the vehicles and people. The null values in these can be imputed using longitude and lattitdue. (https://medium.com/@m.majidpour/extracting-zip-codes-from-longitude-and-latitude-in-pyspark-eafbcfef474c#:~:text=There%20are%20handful%20packages%20in%20Python%20where%20one,API%20each%20time%20a%20request%20is%20being%20submitted.)
 22. Impute missing values for cross street name and offstreet name using the zip code, longitude and latitude. Need to explore if this is possible. 
 23. There can be possibility to drop columns borough, streetnames, location,

In [ ]:
people_data = df_shape(people)
print (people_data)

In [ ]:
vehicles_data = df_shape(vehicles)
print (vehicles_data)

In [ ]:
#crashes.loc[0]

In [ ]:
#crashes.loc[3000]

In [ ]:
#crashes['contributing_factor_vehicle_1'].value_counts()

In [ ]:
crashes['contributing_factor_vehicle_2'].value_counts()

In [ ]:
crashes['vehicle_type_code_1'].value_counts()

In [ ]:
crashes['vehicle_type_code_2'].value_counts()

In [ ]:
crashes['number_of_persons_injured'].value_counts()

In [ ]:
crashes['number_of_persons_killed'].value_counts()

In [ ]:
contributingfactorvehicle1_drugs = (crashes["contributing_factor_vehicle_1"] =='Drugs (illegal)')
crashes[contributingfactorvehicle1_drugs]

In [ ]:
contributingfactorvehicle1_UnsafeSpeed = (crashes["contributing_factor_vehicle_1"] =='Unsafe Speed')
crashes[contributingfactorvehicle1_UnsafeSpeed]

In [ ]:
crashes[contributingfactorvehicle1_drugs]

In [ ]:
crashes['borough'].value_counts()

In [ ]:
filt = (crashes['borough'] == "BROOKLYN") & (crashes["vehicle_type_code_1"] == "Sedan")
crashes.loc[filt, "contributing_factor_vehicle_1"]

In [ ]:
crashes.loc[~filt]

In [ ]:
people["person_age"].min()

In [ ]:
people["person_age"].max()

# Merge Vehicle data with Peoples data
* People data is important. We need to merge vehicle with Peoples using vehicleID keeping

In [ ]:
#crashes = crashes.astype({'number_of_persons_killed': np.int})
#vehicles = vehicles.astype({'vehicle_id': np.float})
people['vehicle_id'] = people['vehicle_id'].astype(object)
#people = people.astype({'vehicle_id': })

In [ ]:
people_vehicles_inner = pd.merge(people, vehicles, how="inner", on="vehicle_id" )

In [ ]:
people_vehicles_inner.shape

In [ ]:
person_id = people[people["collision_id"]==3425125]
person_id

In [ ]:
vehicle_id = vehicles[vehicles["collision_id"]==3425125]
vehicle_id

In [ ]:
crashes = crashes[crashes["collision_id"]==3425125]

In [ ]:
person_id = people[people["collision_id"]==4407638]
person_id

In [ ]:
vehicle_id2 = vehicles[vehicles["collision_id"]==4407638]
vehicle_id

In [ ]:
crashes_id2 = crashes[crashes["collision_id"]==4407638]
crashes_id