In [1]:
import pandas as pd
import numpy as np
import geopy
# https://gis.stackexchange.com/questions/330840/error-installing-geopandas
# conda install -c conda-forge geopandas

import geopandas as gpd
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import matplotlib.pyplot as plt
from shapely.geometry import point
from geopandas import GeoDataFrame
import plotly_express as px

#from uszipcode import ZipcodeSearchEngine
from uszipcode import SearchEngine

pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 300)

In [11]:
#longlat = pd.read_csv("longlat.csv",encoding = 'utf-8', sep = '\t')
longlat =pd.read_csv("C://CompletePython//DataScience/VisionZero//2016/crashes_datetime5.csv")
longlat.head(3)

,Unnamed: 0,crash_date_new,person_type,person_injury,person_age,ejection,position_in_vehicle,safety_equipment,ped_role,person_sex,vehicle_type,vehicle_make,vehicle_year,vehicle_occupants,driver_sex,driver_license_status,pre_crash,point_of_impact,vehicle_damage,contributing_factor_1,contributing_factor_2,borough,zip_code,latitude,longitude,on_street_name,collision_id,number_of_contributing_vehicles,crash_date_year,crash_date_month,crash_date_day,Time,completedate
0,0,2019-10-26 00:00:00,OCCUPANT,NOT INJURED,52.0,NOT EJECTED,DRIVER,LAP BELT & HARNESS,DRIVER,M,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,M,UNSPECIFIED,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,QUEENS,11378.0,40.725560,-73.89849,LONG ISLAND EXPRESSWAY,4230635,2,2019,10,26,16:30:00,2019-10-26 16:30:00
1,8,2019-10-26 00:00:00,OCCUPANT,NOT INJURED,41.0,NOT EJECTED,DRIVER,LAP BELT,DRIVER,M,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,M,UNSPECIFIED,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,MANHATTAN,10025.0,40.793377,-73.97086,AMSTERDAM AVENUE,4230398,2,2019,10,26,20:00:00,2019-10-26 20:00:00
2,9,2019-10-26 00:00:00,OCCUPANT,NOT INJURED,35.0,NOT EJECTED,DRIVER,LAP BELT,DRIVER,M,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,M,UNSPECIFIED,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,MANHATTAN,10025.0,40.793377,-73.97086,AMSTERDAM AVENUE,4230398,2,2019,10,26,20:00:00,2019-10-26 20:00:00

In [8]:
search = SearchEngine()

In [39]:
# borough_info = search.by_zipcode("11378")
# #borough_info = borough_info.county.replace(" County", "")
# # borough_info.lat
# borough_info

SimpleZipcode(zipcode='11378', zipcode_type='Standard', major_city='Maspeth', post_office_city='Maspeth, NY', common_city_list=['Maspeth', 'Flushing'], county='Queens County', state='NY', lat=40.73, lng=-73.91, timezone='Eastern', radius_in_miles=2.0, area_code_list=['347', '718'], population=34981, population_density=13697.0, land_area_in_sqmi=2.55, water_area_in_sqmi=0.06, housing_units=13668, occupied_housing_units=12762, median_home_value=538600, median_household_income=57474, bounds_west=-73.93742, bounds_east=-73.886122, bounds_north=40.736826, bounds_south=40.712857)

In [ ]:
# Population density

In [37]:
search = SearchEngine()
def get_population_density(x):
    pd_info = search.by_zipcode("{}".format(x['zip_code']))
    new_pd_info = pd_info.population_density
    return new_pd_info

longlat['population_density_info'] = longlat.apply(lambda x: get_population_density(x), axis=1)

In [40]:
# Major City
search = SearchEngine()
def get_major_city(x):
    pd_info = search.by_zipcode("{}".format(x['zip_code']))
    new_pd_info = pd_info.major_city
    return new_pd_info

longlat['city_info'] = longlat.apply(lambda x: get_major_city(x), axis=1)

In [42]:
# Population
def get_population(x):
    pd_info = search.by_zipcode("{}".format(x['zip_code']))
    new_pd_info = pd_info.population
    return new_pd_info

longlat['population'] = longlat.apply(lambda x: get_population(x), axis=1)

In [43]:
# Median household income
search = SearchEngine()
def get_median_income(x):
    pd_info = search.by_zipcode("{}".format(x['zip_code']))
    new_pd_info = pd_info.median_household_income
    return new_pd_info

longlat['median_household_income'] = longlat.apply(lambda x: get_median_income(x), axis=1)

In [49]:
longlat.head(3)

,Unnamed: 0,crash_date_new,person_type,person_injury,person_age,ejection,position_in_vehicle,safety_equipment,ped_role,person_sex,vehicle_type,vehicle_make,vehicle_year,vehicle_occupants,driver_sex,driver_license_status,pre_crash,point_of_impact,vehicle_damage,contributing_factor_1,contributing_factor_2,borough,zip_code,latitude,longitude,on_street_name,collision_id,number_of_contributing_vehicles,crash_date_year,crash_date_month,crash_date_day,Time,completedate,population_density_info,city_info,population,median_household_income
0,0,2019-10-26 00:00:00,OCCUPANT,NOT INJURED,52.0,NOT EJECTED,DRIVER,LAP BELT & HARNESS,DRIVER,M,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,M,UNSPECIFIED,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,QUEENS,11378,40.725560,-73.89849,LONG ISLAND EXPRESSWAY,4230635,2,2019,10,26,16:30:00,2019-10-26 16:30:00,13697.0,Maspeth,34981.0,57474.0
1,8,2019-10-26 00:00:00,OCCUPANT,NOT INJURED,41.0,NOT EJECTED,DRIVER,LAP BELT,DRIVER,M,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,M,UNSPECIFIED,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,MANHATTAN,10025,40.793377,-73.97086,AMSTERDAM AVENUE,4230398,2,2019,10,26,20:00:00,2019-10-26 20:00:00,125860.0,New York,94600.0,68516.0
2,9,2019-10-26 00:00:00,OCCUPANT,NOT INJURED,35.0,NOT EJECTED,DRIVER,LAP BELT,DRIVER,M,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,UNSPECIFIED,M,UNSPECIFIED,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,NOT_AVALIBLE,MANHATTAN,10025,40.793377,-73.97086,AMSTERDAM AVENUE,4230398,2,2019,10,26,20:00:00,2019-10-26 20:00:00,125860.0,New York,94600.0,68516.0

In [45]:
longlat.isnull().sum().sort_values(ascending=False)

median_household_income            3317
population_density_info            3263
population                         2532
city_info                            16
collision_id                          0
borough                               0
zip_code                              0
latitude                              0
longitude                             0
on_street_name                        0
crash_date_year                       0
number_of_contributing_vehicles       0
contributing_factor_1                 0
crash_date_month                      0
crash_date_day                        0
Time                                  0
completedate                          0
contributing_factor_2                 0
Unnamed: 0                            0
crash_date_new                        0
point_of_impact                       0
person_type                           0
person_injury                         0
person_age                            0
ejection                              0
position_in_vehicle                   0
safety_equipment                      0
ped_role                              0
person_sex                            0
vehicle_type                          0
vehicle_make                          0
vehicle_year                          0
vehicle_occupants                     0
driver_sex                            0
driver_license_status                 0
pre_crash                             0
vehicle_damage                        0
dtype: int64

In [48]:
longlat['city_info'].value_counts()

Brooklyn               48216
New York               30573
Bronx                  27068
Staten Island           6947
Jamaica                 6476
Flushing                4195
Astoria                 2454
Long Island City        2386
Queens Village          1613
Woodside                1523
Corona                  1441
Ridgewood               1423
South Ozone Park        1358
Ozone Park              1302
Rosedale                1296
Forest Hills            1250
East Elmhurst           1209
Bayside                 1129
Springfield Gardens     1104
Little Neck             1096
Far Rockaway            1045
Kew Gardens              975
Elmhurst                 968
Maspeth                  906
Fresh Meadows            886
South Richmond Hill      855
Saint Albans             834
Richmond Hill            733
Howard Beach             727
Woodhaven                647
Cambria Heights          618
Whitestone               618
Bellerose                595
Hollis                   567
Jackson Heights          555
Rego Park                547
Oakland Gardens          537
Sunnyside                535
Middle Village           398
College Point            329
Arverne                  274
Glen Oaks                264
Floral Park              199
Rockaway Park            189
Breezy Point              90
New Hyde Park             48
Great Neck                39
Cedarhurst                 9
Berkshire                  8
Perkinston                 5
Pelham                     3
Elmont                     2
Whitehouse Station         1
Name: city_info, dtype: int64

In [ ]:
search = SearchEngine()
def get_latitude_longitude(x):
    borough_info = search.by_zipcode("{}".format(x['zip_code']))   
    new_borough_info = borough_info.county
    if (new_borough_info is None):
        return None
    else:
        borough_info1 = new_borough_info.replace(" County", "")
        return borough_info1

longlat['new_borough'] = longlat.apply(lambda x: np.nan  if(pd.isnull(x['zip_code'])) else get_borough(x), axis=1)
longlat["borough"] = longlat["borough"] .fillna(longlat["new_borough"])
longlat = longlat.applymap(lambda s: s.upper() if type(s) == str else s)

In [ ]:
search = SearchEngine()
def get_borough(x):
    borough_info = search.by_zipcode("{}".format(x['zip_code']))   
    new_borough_info = borough_info.county
    if (new_borough_info is None):
        return None
    else:
        borough_info1 = new_borough_info.replace(" County", "")
        return borough_info1

longlat['new_borough'] = longlat.apply(lambda x: np.nan  if(pd.isnull(x['zip_code'])) else get_borough(x), axis=1)
longlat["borough"] = longlat["borough"] .fillna(longlat["new_borough"])
longlat = longlat.applymap(lambda s: s.upper() if type(s) == str else s)

In [50]:
#longlat.drop(['imputezipcode','new_borough'], axis=1, inplace=True)
longlat.drop(['population_density_info'], axis=1, inplace=True)

In [52]:
longlat.to_csv("C://CompletePython//DataScience/VisionZero//2016/crashes_datetime6.csv",header=True)

In [53]:
longlat = longlat[longlat['median_household_income'].notna()]

In [57]:
longlat=longlat[longlat['city_info'].notna()]

In [58]:
longlat.isnull().sum().sort_values(ascending=False)

Unnamed: 0                         0
crash_date_new                     0
contributing_factor_2              0
borough                            0
zip_code                           0
latitude                           0
longitude                          0
on_street_name                     0
collision_id                       0
number_of_contributing_vehicles    0
crash_date_year                    0
crash_date_month                   0
crash_date_day                     0
Time                               0
completedate                       0
city_info                          0
population                         0
contributing_factor_1              0
vehicle_damage                     0
point_of_impact                    0
ped_role                           0
person_type                        0
person_injury                      0
person_age                         0
ejection                           0
position_in_vehicle                0
safety_equipment                   0
person_sex                         0
pre_crash                          0
vehicle_type                       0
vehicle_make                       0
vehicle_year                       0
vehicle_occupants                  0
driver_sex                         0
driver_license_status              0
median_household_income            0
dtype: int64

In [59]:
longlat.to_csv("C://CompletePython//DataScience/VisionZero//2016/crashes_datetime7.csv",header=True)